@charset "utf-8";blockquote,body,button,code,dd,div,dl,dt,form,h1,h2,h3,h4,h5,h6,hr,input,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0;font-family:微软雅黑,Helvetica,sans-serif;text-size-adjust:none;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-o-text-size-adjust:none;-ms-text-size-adjust:none;-webkit-tap-highlight-color:transparent}
img{display:inline-block;border:0;}
li{list-style:none}
a{text-decoration:none}
::-webkit-input-placeholder{color:#999;}
input[type=password],input[type=text],select,textarea{outline:0;border-radius:0;resize:none;-webkit-appearance:none;appearance:none;-webkit-tap-highlight-color:transparent}
body{background-color:#f5f5f5;color:#888;font-size:0.35rem}
.mt20{margin-top:0.5rem}
.fr{float: right;}
.fl{float: left;}
.hiddren{display: none;}
body .topfixed{position:fixed;top:0;z-index:9;width:100%;}
.wrapper{width:100%;}
.wrapper .indextop{height:2.2rem;background:url(../img/logo.png) center no-repeat #fff;background-size:5.4rem 1.3rem}
.indextop .denglu{float:right;width:2.2rem;height:2.2rem;background:url(../img/zhanghao.png) center center no-repeat;background-size:1rem 1rem;text-indent:-249.975rem}
.swiper-slide img{display:block;margin:0;padding:0;width:100%;}
.banner{overflow:hidden;width:100%;}
.baoxiuchaxun{padding:0.65rem 0.75rem 0.65rem 0.5rem;background:#fff}
.baoxiuchaxun a{display:block;width:100%;height:1rem;background:url(../img/xiangyou.png) right 0.125rem no-repeat;background-size:0.75rem 0.75rem;color:#292b5b;font-size:0.75rem;line-height:1rem}
.wxbx ul{overflow:hidden;background-color:#fff}
.wxbx ul li{float:left;padding-bottom:1px;width:50%;background:url(../img/hengxian.png) left bottom no-repeat #fff;background-size:100% 1px;text-align:center}
.wxbx ul li a{display:block;padding:0.75rem 0 0;background:url(../img/shuxian.png) right top no-repeat #fff;background-size:1px 100%;}
.wxbx ul li strong{display:block;overflow:hidden;height:1.25rem;color:#444;font-weight:400;font-size:0.75rem;line-height:1.25rem}
.wxbx ul li span{display:block;overflow:hidden;margin-bottom:0.6rem;height:0.9rem;color:#999;text-overflow:ellipsis;white-space:nowrap;font-size:0.6rem;line-height:0.9rem}
.wxbx ul li img{height:3.5rem}
.wxbx{position:relative;overflow:hidden}
.kfzx{position:fixed;top:13.25rem;right:0.25rem;width:1.7rem;height:3.7rem;border-radius:30px;background-color:#1c90ea;text-align:center;z-index: 9;}
.kfzx img{margin-top:0.5rem;width:1rem;height:1.025rem}
.kfzx span{display:block;margin:0 auto;width:0.75rem;color:#fff;font-size:0.6rem;line-height:0.9rem}
.xiadan{position:relative;overflow:hidden;padding:0 0.75rem 0 3.5rem;background-color:#292b5b;}
.xiadan img{position:absolute;top:0.8rem;left:0.5rem;width:2.1rem;height:2.1rem}
.xiadan p{padding:0.8rem 0;background:url(../img/xiala.png) right center no-repeat;background-size:0.875rem 0.5rem;line-height:1.05rem}
.xiadan p strong{color:#ff5000;font-weight:400;font-size:0.75rem}
.xiadan p span,.xiadan p strong{display:block;overflow:hidden;height:1.05rem}
.xiadan p span{color:#fff;font-size:0.6rem}
.shili{background-color:#fff;text-align:center}
.shili h2{padding-top:0.25rem;height:2.2rem;color:#292b5b;font-weight:400;font-size:0.65rem;line-height:2.2rem}
.kefurexian img{width:100%;}
.footer{padding:1.25rem 0 1.5rem;text-align:center}
footer li{float:left;width:33.3%;height:1.75rem;font-size:0.65rem;line-height:1.75rem}
.footer li a{color:#999;}
.footer li span{float:right;display:inline-block;margin-top:0.65rem;width:0.05rem;height:0.45rem;background:url(../img/shuxian.png) no-repeat;background-size:0.05rem 100%;}
.footer p{clear:both;height:1.3rem;color:#ccc;font-size:0.55rem;line-height:1.3rem}
.shili .swiper-slide p{position:relative;float:left;overflow:hidden;width:33.3333%;height:4.6rem;text-align:center}
.shili .swiper-slide p img{display:inline-block;width:1.5rem;height:1.75rem}
.shili .swiper-slide p span{clear:both;display:block;height:1.5rem;font-size:0.65rem;line-height:1.5rem}
.shili .swiper-slide p strong{position:absolute;top:0;right:0;width:1px;height:0.175rem;background:url(../img/shuxian.png) no-repeat;background-size:0.175rem 0.05rem}
.xinxi{position:relative;padding:0.45rem 0.25rem 0.25rem}
.xinxi .arrowtop{position:absolute;top:-0.45rem;left:1rem;width:1.1rem;height:0.45rem;background:url(../img/arrowtop.png) no-repeat;background-size:1.1rem 0.45rem}
.xinxi li{position:relative;padding-bottom:0.5rem;font-size:0.7rem}
.xinxi li input{width:100%;height:2.25rem;border:0;border-radius:6px;color:#333;text-indent:0.75rem;font-size:0.7rem}
.xinxi .tishi{margin:-0.5rem 0 0.5rem;padding:0;width:100%;height:1.6rem;background:url(../img/tishired.png) 0.75rem center no-repeat #fff2f2;background-size:0.6rem 0.6rem;color:red;text-align:left;text-indent:1.65rem;font-size:0.6rem;line-height:1.6rem}
.xinxi .yzm,.yzmzm{padding-right:6.25rem}
.xinxi .yzm a,.yzmzm span{position:absolute;top:0;right:0;width:5.75rem;height:2.25rem}
.yzmzm span{background:#ebebeb;color:#030580;letter-spacing:0.2rem}
.xinxi .yzm a,.yzmzm span{text-align:center;font-size:0.75rem;line-height:2.25rem}
.xinxi .yzm a{display:block;border-radius:6px;background-color:#009cff;color:#fff}
.xinxi .yzm .cxfs{background-color:#ccc}
.selectadd{overflow:hidden}
.selectadd p{float:left;width:50%;}
.selectadd p span{display:block;padding-right:0.5rem}
.selectadd select{overflow:hidden;margin-right:0.5rem;width:100%;height:2.25rem;border:0;border-radius:6px;background:url(../img/selectadd.png) right center no-repeat #fff;background-size:1.25rem 0.3rem;color:#444;text-indent:0.55rem;font-size:0.7rem}
.xinxi .xiangxidizhi{padding:0.5rem 0.75rem;border-radius:6px;background-color:#fff}
.xinxi .xiangxidizhi .xiangxidizhi1{position:relative;padding-right:3.25rem;line-height:1.25rem}
.xinxi .xiangxidizhi a{position:absolute;top:50%;right:0.75rem;margin-top:-0.4rem;width:3rem;height:0.8rem;background:url(../img/add1.png) right center no-repeat;background-size:3rem .8rem}
.chaxun{display:block;margin-top:1rem;width:100%;height:2.15rem;border-radius:6px;background-color:#292b5b;color:#fff;text-align:center;font-size:0.8rem;line-height:2.15rem;-o-border-radius:6px;-ms-border-radius:6px}
.xiadan .xiadancur{background:url(../img/xiala1.png) right center no-repeat;background-size:.8rem .5rem}
.logo{padding:2.25rem 0 0;text-align:center}
.login{padding:0 .75rem}
.login p{margin:0 auto;padding:1.75rem 0;width:14.5rem;background:url(../img/tishi1.png) left center no-repeat;background-size:.7rem .7rem;color:#999;text-align:center;font-size:.65rem}
.v1-1tishi{width:100%;height:1.75rem;text-align:center;line-height:1.75rem}
.v1-1tishi p{margin:0 .75rem;background-color:#fff2f2;color:red;font-size:.6rem}
.gerenzhongxin{overflow:hidden;height:8.65rem;background-color:#292b5b;color:#fff;text-align:center}
.gerenzhongxin strong{display:block;padding-top:1.5rem;height:2.9rem;font-weight:400;font-size:1rem;line-height:2.9rem}
.gerenzhongxin a{display:inline-block;width:5.3rem;height:1.7rem;border:1px solid #fff;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;color:#fff;font-size:0.8rem;line-height:1.7rem;-o-border-radius:3px}
.gerenxinxi{padding:.5rem 0 0;background-color:#fff}
.gerenxinxi li{background:url(../img/hengxian.png) left bottom repeat-x;background-size:100% 0.05rem;color:#494949;font-size:0.75rem}
.gerenxinxi li a{position:relative;display:block;padding:0.75rem 0.75rem;color:#666;}
.gerenxinxi li img{position:absolute;top:0.75rem;left:0.75rem;width:1.05rem;height:1rem}
.gerenxinxi li span{display:block;padding:0 1rem 0 1.7rem;height:1rem;background:url(../img/arrow1.png) right center no-repeat;background-size:0.35rem 0.6rem;line-height:1rem}
.gerenzhongxin img{display:block;margin:1.9rem auto 0;width:3.5rem;height:3.5rem}
.gerenzhongxin p{height:2.8rem;font-size:.75rem;line-height:2.8rem}
.zhuxiao{padding:2.25rem .75rem}
.zhuxiao a{display:block;width:100%;height:2.15rem;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;background-color:#ccc;color:#fff;text-align:center;font-size:.8rem;line-height:2.15rem;-o-border-radius:6px;-ms-border-radius:6px}
.gerenzhongxin img{display:block;margin:1.9rem auto 0;width:3.5rem;height:3.5rem;}
.gerenzhongxin p{height:2.8rem;font-size:.75rem;line-height:2.8rem;}
.zhuxiao{padding:2.25rem .75rem;}
.zhuxiao a{display:block;width:100%;height:2.15rem;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;background-color:#ccc;color:#fff;text-align:center;font-size:.8rem;line-height:2.15rem;-o-border-radius:6px;-ms-border-radius:6px;}
.chenggong{padding-top:5.65rem;height:3.6rem;background:url(../img/chenggong.png) center .65rem no-repeat #fff;background-size:3.875rem 3.875rem;}
.chenggong p{margin:0 auto;width:6.25rem;height:1.4rem;color:#1c90ea;text-align:center;font-size:.9rem;line-height:1.4rem;}
.yaozuobg{padding:0 .75rem;background-color:#fff;}
.yaozuo{position:relative;clear:both;border:1px solid #292b5b;background-color:#fff;}
.yaozuotitle{position:absolute;top:-.5rem;left:4.25rem;padding:0 .5rem;height:.9rem;background-color:#fff;color:#292b5b;font-size:.575rem;line-height:.9rem;}
.yaozuo ul{padding:0 0 0 1rem;}
.yaozuo li:last-child{border:0;}
.yaozuo li{position:relative;overflow:hidden;padding:1rem 0;border-bottom:1px solid #e8e8e8;color:#666;}
.yaozuo li img{position:absolute;width:3.2rem;height:3.2rem;}
.yaozuo li p{padding-left:4rem;}
.yaozuo li p strong{display:block;font-size:.7rem;line-height:1.4rem;}
.yaozuo li p span{display:block;font-size:.6rem;line-height:.8rem;}
.yaozuo li p em{color:#292b5b;font-style:normal;}
.chenggongbtn{position:fixed;bottom:0;width:100%;background:url(../img/hengxiantop.png) top left no-repeat #fff;background-size:100% .025rem;}
.chenggongbtn p{padding:.5rem .4rem .5rem .35rem;height:2.15rem;text-align:center;line-height:2.15rem;}
.chenggongbtn p span{float:left;width:50%;}
.chenggongbtn p .jxhsbtn{border:1px solid #292b5b;background-color:#fff;color:#292b5b;}
.chenggongbtn p a{display:block;margin:0 .35rem 0 .4rem;height:2.05rem;border:1px solid #292b5b;-webkit-border-radius:6px;border-radius:6px;background-color:#292b5b;color:#fff;font-size:.75rem;}
.dingdanhao{padding:1.5rem .75rem;background-color:#fff;color:#333;font-size:.65rem;line-height:.9rem;}
.dingdanhao p{position:relative;padding:.15rem 0 .15rem 3.35rem;color:#666;}
.dingdanhao p span{position:absolute;left:0;}
.dingdanhao p em{font-style: normal;color: #292b5b;}
.weixiujiagefei{padding:0 .5rem;background-color:#fff;}
.weixiujiagefei ul{padding:.35rem 0;}
.weixiujiagefei li{height:1.25rem;font-size:.7rem;line-height:1.25rem;}
.weixiujiagefei li span{float:right;color:#ff5000;}
.weixiujiage{height:2.75rem;background:linear-gradient(0,#e6e6e6,#e6e6e6 50%,transparent 50%) top left/100% .05rem no-repeat;text-align:right;font-size:.75rem;line-height:2.75rem;}
.weixiujiagefei .weixiujiage{color:#333;}
.jixinglist{overflow:hidden;background:url(../img/hengxian.png) left bottom no-repeat #fff;background-size:100% 0.05rem}
.jixinglist ul{overflow:hidden}
.jixinglist li{overflow:hidden;background:url(../img/hengxian.png) left bottom no-repeat;background-size:100% 1px}
.jixinglistli{float:left;overflow:hidden;width:33.3%;}
.jixinglist li .huishoulist{padding:1rem 0 0.9rem;background:url(../img/shuxian.png) right top no-repeat;background-size:1px 100%;}
.jixinglist li img{width:4.5rem;height:4.5rem}
.huishoulist{display:block;margin:0 auto;text-align:center;cursor:pointer}
.huishoulist span{display:block;overflow:hidden;margin:0 auto;padding-top:0.6rem;width:4.35rem;height:0.9rem;color:#333;text-align:center;font-size:0.65rem;line-height:0.9rem}
.jixinglist li .huishoulist span{height:auto}
.xiayibu{position:fixed;bottom:0;z-index:9;padding:0.5rem 0;width:100%;height:2.15rem;background:url(../img/hengxiantop.png) top center no-repeat #fff;background-size:100% 1px}
.xiayibu a{display:block;margin:0 0.5rem;height:2.15rem;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;background-color:#292b5b;color:#fff;text-align:center;font-size:0.8rem;line-height:2.15rem;-o-border-radius:6px;-ms-border-radius:6px}
.xiayibu .gragbg,.xiayibu .gragbg:hover,.xiayibu1 .gragbg,.xiayibu1 .gragbg:hover{background-color:#ccc}
.sjxx dl{display:none}
.sjxx dt{position:relative;clear:both;overflow:hidden;padding:0.65rem 0.5rem 0.65rem 0.5rem;min-height:1.2rem;background-color:#fff;color:#333;font-size:0.75rem;line-height:1.2rem}
.sjxx dt span{/*float:left;*/padding-left:0.75rem;width:5rem;background:url(../img/dian.png) left center no-repeat;background-size:0.3rem 0.3rem}
.sjxx dt a,.sjxx dt strong{float:right;padding-right:0.75rem;width:8rem;background:url(../img/xiugai.png) right center no-repeat;background-size:0.35rem 0.6rem;color:#333;text-align:right;font-weight:700;}
.sjxx dd{position:relative;clear:both;padding:0 0 0.5rem 0.5rem;background-color:#fff}
.sjxx dd ul{overflow:hidden}
.sjxx dd li{position:relative;float:left;width:25%;font-size:0.7rem}
.sjxx .sjxx-textcur{border:1px solid #292b5b;background:url(../img/xzwxfa.png) left top no-repeat #fff;background-size:0.9rem 0.95rem;color:#292b5b;}
.sjxx-text,.sjxx-text1,.sjxx-text3{display:block;overflow:hidden;margin:0 0.5rem 0.5rem 0;height:1.7rem;border:1px solid #e0e0e0;-webkit-border-radius:3px;border-radius:3px;background-color:#fff;color:#666;text-align:center;line-height:1.7rem}
.sjxx dt strong.cur{background:url(../img/xiugai1.png) right center no-repeat;background-size:0.625rem 0.375rem}
.sjxx dt .tip{padding-right:1rem;background:url(../img/tips.png) right center no-repeat;background-size:0.65rem 0.65rem;color:#009cff;font-size:0.65rem}
.sjxx dd .one li{width:100%;}
.one .sjxx-text3{padding:0 0.7rem;text-align:left}
.detailtip{position:fixed;top:0;left:0;z-index:9999;display:none;overflow:hidden;width:100%;height:100%;background-color:rgba(0,0,0,.8);}
.detailtip dl{padding:1rem 0;}
.detailtip dt{height:1.75rem;color:#fff;font-weight:700;font-size:0.75rem;line-height:1.75rem}
.detailtip1{overflow-x:hidden;overflow-y:scroll;padding:0.5rem 0.75rem 0;height:auto;-webkit-overflow-scrolling:touch}
.detailtipclose{position:absolute;bottom:0.9rem;left:50%;margin-left:-1.25rem;width:2.5rem;height:2.5rem;background:url(../img/close.png) center center no-repeat;background-size:2.5rem 2.5rem}
.detailtip dd{padding-bottom:0.5rem;color:#ccc;font-size:0.65rem;line-height:1rem}
.detailtip .bortop{border-top:1px solid rgba(255,255,255,.2);}
.tianxinxi{background-color:#fff}
.weixiubaojia{position:relative;margin:0 0.5rem;padding:1rem 0 1rem 4.9rem;background:url(../img/hengxian.png) left bottom no-repeat;background-size:100% 1px}
.weixiubaojia img{position:absolute;top:1rem;left:0;width:4.4rem;height:4.4rem}
.weixiubaojia strong{display:block;color:#444;font-size:0.7rem;line-height:0.9rem}
.weixiubaojia span{display:block;padding-bottom:0.4rem;font-size:0.6rem;line-height:1.35rem}
.weixiubaojiafei{padding:0.25rem 0.7rem;background-color:#f5f5f5;}
.weixiubaojia p{height:1.1rem;font-size:0.65rem;line-height:1.1rem}
.weixiubaojiafei strong{float:right;color:#292b5b;font-weight:400;}
.xinxi li .textarea{overflow:hidden;margin-top:0.5rem;padding:0.5rem 0.75rem;-webkit-border-radius:3px;border-radius:3px;background-color:#fff}
.xinxi li textarea{width:100%;height:3.75rem;border:0;color:#333;font-size:0.7rem;line-height:1.25rem}
.xiayibu1{position:fixed;bottom:0;z-index:9;width:100%;height:2.5rem;background:url(../img/hengxiantop.png) top center no-repeat #fff;background-size:100% 1px;font-size:0.75rem}
.tijiaodingdan{padding:0.4rem 6rem 0 0.5rem;color:#333;font-size:0.75rem}
.xiayibu1 a{position:absolute;top:0;right:0;bottom:0;width:6rem;height:2.5rem;background-color:#292b5b;color:#fff;text-align:center;line-height:2.5rem}
.tijiaodingdan strong{color:#292b5b;font-weight:400;}
.tijiaodingdan strong{color:#292b5b;font-weight:400;}
.tijiaodingdan span{display:block;overflow:hidden;height:0.7rem;color:#666;font-size:0.55rem}
.tijiaodingdan span a{position:relative;width:inherit;height:inherit;background-color:#fff;color:#009cff;line-height:inherit}
.baoqian img{display:block;width:100%;}
.baoqian dl{padding:0 0.5rem 0.75rem 0.75rem;font-size:0.75rem;line-height:1rem}
.baoqian dt{padding:1rem 0 0.5rem;font-weight:700;}
.baoqian dt{padding:1rem 0 0.5rem;color:#333;font-weight:700;}
.baoqian dd li{position:relative;padding:0.5rem 0;}
.button-holder strong{position:absolute;top:0.65rem;left:0;width:0.7rem;height:0.7rem;background:url(../img/xuanzhong.png) left center no-repeat;background-size:0.7rem 0.7rem}
.baoqian dd li span{display:block;padding-left:1.1rem}
.baoqian dd li span{display:block;padding-left:1.1rem;color:#666;}
.button-holder strong{position:absolute;top:0.65rem;left:0;width:0.7rem;height:.7rem}
.button-holder .buttonholdercur strong{background:url(../img/xuanzhong1.png) left center no-repeat;background-size:0.7rem 0.7rem}
.btn{overflow:hidden;padding:0 0.35rem 1rem 0.4rem}
.btn p{float:left;width:50%;}
.btn p a{display:block;margin:0 0.4rem 0 0.35rem}
.btn p a img{width:100%;}
.quxiaoTip{position:fixed;top:0;z-index:9999;display:none;width:100%;height:100%;background-color:rgba(0,0,0,.3);}
.fankuiTip{position:relative;top:50%;left:14%;margin-top:-1.75rem;width:72%;height:initial;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background-color:#f8f8f8;text-align:center;-o-border-radius:5px;-ms-border-radius:5px}
.fankuiTip strong{display:block;padding-top:0.75rem;color:#333;text-align:center;font-size:0.9rem;line-height:1.7rem}
.fankuiTip span{display:block;padding-bottom:0.7rem;color:#292b5b;text-align:center;font-size:0.75rem;line-height:1.6rem}
.pingjiacgBtn{display:block;height:2.25rem;background:linear-gradient(0,#dcdcdc,#dcdcdc 50%,transparent 50%) top left/100% 1px no-repeat;color:#666;font-size:0.8rem;line-height:2.25rem}
.wodedingdan{padding-bottom:1rem;width:100%;}
.wodedingdan li{margin-top:0.5rem;background-color:#fff}
.wodedingdan li:first-child{margin:0;}
.dingdanzt{padding:0 0.75rem}
.dingdanzt p{height:2.5rem;background:url(../img/hengxian.png) left bottom repeat-x;background-size:100% 1px;line-height:2.5rem}
.dingdanzt p span{float:left;color:#333;font-size:0.75rem}
.dingdanzt p strong{float:right;color:#292b5b;font-weight:400;font-size:0.65rem}
.dingdanxq{overflow:hidden;padding:1rem 1rem;height:3rem}
.dingdanxq img{float:left;margin-right:1rem;width:3rem;height:3rem}
.dingdanxq p{overflow:hidden;height:1.05rem;color:#666;font-size:0.65rem;line-height:1.05rem}
.dingdanxq p span{color:#292b5b;}
.dingdanBtn{padding:0.5rem;height:1.55rem;background:url(../img/hengxian.png) left top repeat-x;background-size:100% 1px;text-align:center;font-size:0.65rem;line-height:1.45rem}
.dingdanjindu{padding:0 0.75rem;background-color:#fff}
.dingdanjinduT{padding:0.75rem 0;background:linear-gradient(0,#e6e6e6,#e6e6e6 50%,transparent 50%) bottom left/100% 0.05rem no-repeat}
.dingdanjinduT strong{display:block;height:1.4rem;color:#333;font-weight:400;font-size:0.9rem;line-height:1.4rem}
.dingdanjinduT span{height:1rem;color:#666;font-size:0.55rem;line-height:1rem}
.dingdanjinduM{position:relative;padding-top:0.75rem;height:4rem;background:url(../img/jinduxian.png) left 1.6rem repeat-x}
.dingdanjinduM p{position:absolute;float:left;width:2.5rem}
.dingdanjinduM p strong{display:block;margin:0 auto;padding:0 0.25rem;width:1.75rem;height:1.75rem;background-color:#fff}
.dingdanjinduM p img{display:block;width:1.75rem;height:1.75rem}
.dingdanjinduM p span{display:block;color:#666;text-align:center;font-size:0.55rem;line-height:1.25rem}
.yichuangjian{padding:0 0.75rem;background-color:#fff}
.yichuangjian dt p{height:2.5rem;background:linear-gradient(0,#e6e6e6,#e6e6e6 50%,transparent 50%) bottom left/100% 0.05rem no-repeat;font-size:0.8rem;line-height:2.5rem}
.yichuangjian dt p span{float:right;color:#292b5b;}
.yichuangjian dt p a{float:right;margin-top:0.3rem;padding:0 0.5rem;height:1.9rem;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;background:#292b5b;color:#fff;line-height:1.9rem}
.yichuangjian dd{padding:0.55rem 0 0.7rem}
.yichuangjian dd p{overflow:hidden;color:#666;font-size:0.65rem;line-height:1.6rem}
.yichuangjian dd p span{float:left;overflow:hidden;padding-right:0.25rem;width:25%;height:1.6rem;text-align:right}
.yichuangjian dd p strong{float:left;overflow:hidden;width:48%;height:1.6rem;text-align:right;font-weight:400;}
.qxddBtn{float:right;margin:0 0.25rem;width:3.95rem;height:1.45rem;border:1px solid #999;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;color:#999;-o-border-radius:3px;-ms-border-radius:3px}
.dingdanBtn span{float: right; padding: 0 1rem;}
.ljjfBtn{float:right;margin:0 0.25rem;width:3.95rem;height:1.45rem;color: #FFF;background: #292b5b;border:1px solid #999;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-o-border-radius:3px;-ms-border-radius:3px}

.fwlcNav{height:2.5rem;line-height:2.5rem}
.fwlcNav p{position:relative;float:left;width:33.3333%}
.fwlcNav p a{display:block;color:#666;text-align:center;font-size:.8rem}
.fwlcNav p span{display:inline-block}
.fwlcNav .xgxxNavCur span{background:linear-gradient(0,#1c90ea,#1c90ea 50%,transparent 50%) bottom left/100% 2px no-repeat;color:#1c90ea}
.cjwt{clear:both;padding:.75rem;background-color:#fff;color:#333;font-size:.75rem;line-height:1.3rem}
.cjwt dt{position:relative;padding-left:1.4rem;font-weight:700}
.cjwt dt span{position:absolute;top:.2rem;left:0;display:block;width:.9rem;height:.9rem;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;background-color:#1c90ea;color:#fff;text-align:center;font-weight:400;line-height:.9rem;-o-border-radius:50%;-ms-border-radius:50%}
.cjwt dd{position:relative;padding:0 0 1.3rem 1.4rem}
.cjwt dd span{position:absolute;top:.2rem;left:0;display:block;width:.9rem;height:.9rem;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;background-color:#777;color:#fff;text-align:center;line-height:.9rem;-o-border-radius:50%;-ms-border-radius:50%}
.fwlc{clear:both;padding-bottom:.75rem;background-color:#fff;color:#333;font-size:.75rem;line-height:1.3rem}
.fwlc dt{font-weight:700}
.fwlc dd p{padding-bottom:1.3rem}
.pingjia{padding:1rem .75rem 1.5rem;background-color:#fff}
.tishi2{padding:0 0 .75rem;height:.7rem;background:url(../img/tishi1.png) left top no-repeat;background-size:.7rem .7rem;color:#333;text-indent:1.1rem;font-size:.65rem;line-height:.7rem}
.pingjiaMain{border:1px solid #ccc;line-height:2em}
.pingjiaMain textarea{display:block;padding:.5rem 4%;width:92%;height:5rem;border:0;color:#999;font-size:.65rem;resize:none}
.pingjiaMain p{padding:0 4%;height:1.5rem;color:#bebebe;text-align:right;font-size:.55rem;line-height:1.5rem}
.pingjiaMain p span{color:#292b5b}
.v1-1tishi1{margin-left:-.75rem;padding:0 .75rem;width:100%;height:1.6rem;background:url(../img/tishired.png) .75rem center no-repeat #fff2f2;background-size:.6rem .6rem;color:red;text-indent:.9rem;font-size:.6rem;line-height:1.6rem}
.quxiaomain{position:absolute;top:50%;left:14%;overflow:hidden;margin-top:-1.875rem;width:72%;height:7.5rem;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background-color:#f8f8f8;text-align:center;-o-border-radius:5px;-ms-border-radius:5px}
.quxiaomain p{padding-top:.5rem;height:4.75rem;background:linear-gradient(0,#dfdfdf,#dfdfdf 50%,transparent 50%) bottom left/100% .05rem no-repeat;color:#333;font-size:.75rem;line-height:4.75rem}
.quxiaoTip{position:fixed;top:0;z-index:9999;display:block;width:100%;height:100%;background-color:rgba(0,0,0,.3)}
.quxiaomain a:last-child{background:linear-gradient(90deg,#dfdfdf,#dfdfdf 50%,transparent 50%) top left/.025rem 100% no-repeat;color:#292b5b}

.about{padding:0 .25rem 1rem .75rem;color:#333;font-size:.7rem;line-height:1.15rem}
.about h3{text-align:center;font-size:.85rem}
.about h3 span{display:block;padding-top:.6rem;line-height:1.8rem}
.about h3 strong{clear:both;display:block;overflow:hidden;margin:0 auto;width:1.65rem;height:.15rem;background-color:#292b5b}
.about p{padding:.75rem .5rem .75rem 0}
.img{overflow:hidden}
.img li{float:left;width:50%}
.img li span{display:block;overflow:hidden;padding:0 .5rem .5rem 0}
.img li img{float:left;width:100%}

.topjine{position:fixed;top:0;z-index:9;width:100%;height:2.5rem;background:#FFF}
.topjine p{padding:0 .75rem;height:2.5rem;color:#333;font-size:.75rem;line-height:2.5rem}
.topjine p span{color:#292B5B;font-size:1rem}
.topjine p span em{font-style:normal;font-size:.75rem}
.sjxx dt a.sbmc{float:right;padding-right:0;width:8rem;background:0 0;color:#333;text-align:right;font-weight:700}
.wldanhao{height:2.1rem;font-size:.65rem}
.wldanhao input{position:absolute;left:0;width:70%;border:1px solid #ccc;-webkit-border-radius:6px;border-radius:6px;text-indent:.6rem;font-size:.65rem;line-height:2.1rem}
.wldanhao a{position:absolute;right:0;width:30%;background:#ccc;color:#fff;text-align:center;line-height:2.15rem}

.msg input[type='number'] {
	height: 2.25rem;
	border: 0;
	border-radius: 6px;
	color: #333;
	text-indent: 0.75rem;
	font-size: 0.7rem;
	width: 80%;
}