@charset "utf-8";blockquote,body,button,code,dd,div,dl,dt,form,h1,h2,h3,h4,h5,h6,hr,input,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0;font-family:微软雅黑,Helvetica,sans-serif;text-size-adjust:none;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-o-text-size-adjust:none;-ms-text-size-adjust:none;-webkit-tap-highlight-color:transparent}
img{display:inline-block;border:0;}
li{list-style:none}
a{text-decoration:none}
::-webkit-input-placeholder{color:#999;}
input[type=password],input[type=text],select,textarea{outline:0;border-radius:0;resize:none;-webkit-appearance:none;appearance:none;-webkit-tap-highlight-color:transparent}
body{background-color:#f5f5f5;color:#888;font-size:0.35rem}
.mt20{margin-top:0.5rem}
body .topfixed{position:fixed;top:0;z-index:9;width:100%;}
.wrapper{width:100%;}
.wrapper .indextop{height:2.2rem;background:url(../img/logo.png) center no-repeat #fff;background-size:5.4rem 1.3rem}
.indextop .denglu{float:right;width:2.2rem;height:2.2rem;background:url(../img/zhanghao.png) center center no-repeat;background-size:1rem 1rem;text-indent:-249.975rem}
.swiper-slide img{display:block;margin:0;padding:0;width:100%;}
.banner{overflow:hidden;width:100%;}
.baoxiuchaxun{padding:0.65rem 0.75rem 0.65rem 0.5rem;background:#fff}
.baoxiuchaxun a{display:block;width:100%;height:1rem;background:url(../img/xiangyou.png) right 0.125rem no-repeat;background-size:0.75rem 0.75rem;color:#292b5b;font-size:0.75rem;line-height:1rem}
.wxbx ul{overflow:hidden;background-color:#fff}
.wxbx ul li{float:left;padding-bottom:0.025rem;width:50%;background:url(../img/hengxian.png) left bottom no-repeat #fff;background-size:100% 0.025rem;text-align:center}
.wxbx ul li a{display:block;padding:0.75rem 0 0;background:url(../img/shuxian.png) right top no-repeat #fff;background-size:0.025rem 100%;}
.wxbx ul li strong{display:block;overflow:hidden;height:1.25rem;color:#444;font-weight:400;font-size:0.75rem;line-height:1.25rem}
.wxbx ul li span{display:block;overflow:hidden;margin-bottom:0.6rem;height:0.9rem;color:#999;text-overflow:ellipsis;white-space:nowrap;font-size:0.6rem;line-height:0.9rem}
.wxbx ul li img{height:3.5rem}
.wxbx{position:relative;overflow:hidden}
.kfzx{position:absolute;top:0.25rem;right:0.25rem;width:1.7rem;height:3.7rem;border-radius:30px;background-color:#1c90ea;text-align:center}
.kfzx img{margin-top:0.5rem;width:1rem;height:1.025rem}
.kfzx span{display:block;margin:0 auto;width:0.75rem;color:#fff;font-size:0.6rem;line-height:0.9rem}
.xiadan{position:relative;overflow:hidden;padding:0 0.75rem 0 3.5rem;background-color:#292b5b;}
.xiadan img{position:absolute;top:0.8rem;left:0.5rem;width:2.1rem;height:2.1rem}
.xiadan p{padding:0.8rem 0;background:url(../img/xiala.png) right center no-repeat;background-size:0.875rem 0.5rem;line-height:1.05rem}
.xiadan p strong{color:#ff5000;font-weight:400;font-size:0.75rem}
.xiadan p span,.xiadan p strong{display:block;overflow:hidden;height:1.05rem}
.xiadan p span{color:#fff;font-size:0.6rem}
.shili{background-color:#fff;text-align:center}
.shili h2{padding-top:0.25rem;height:2.2rem;color:#292b5b;font-weight:400;font-size:0.65rem;line-height:2.2rem}
.kefurexian img{width:100%;}
.footer{padding:1.25rem 0 1.5rem;text-align:center}
footer li{float:left;width:33.3%;height:1.75rem;font-size:0.65rem;line-height:1.75rem}
.footer li a{color:#999;}
.footer li span{float:right;display:inline-block;margin-top:0.65rem;width:0.05rem;height:0.45rem;background:url(../img/shuxian.png) no-repeat;background-size:0.05rem 100%;}
.footer p{clear:both;height:1.3rem;color:#ccc;font-size:0.55rem;line-height:1.3rem}
.shili .swiper-slide p{position:relative;float:left;overflow:hidden;width:33.3333%;height:4.6rem;text-align:center}
.shili .swiper-slide p img{display:inline-block;width:1.5rem;height:1.75rem}
.shili .swiper-slide p span{clear:both;display:block;height:1.5rem;font-size:0.65rem;line-height:1.5rem}
.shili .swiper-slide p strong{position:absolute;top:0;right:0;width:0.025rem;height:0.175rem;background:url(../img/shuxian.png) no-repeat;background-size:0.175rem 0.05rem}
.xinxi{position:relative;padding:0.45rem 0.25rem 0.25rem}
.xinxi .arrowtop{position:absolute;top:-0.45rem;left:1rem;width:1.1rem;height:0.45rem;background:url(../img/arrowtop.png) no-repeat;background-size:1.1rem 0.45rem}
.xinxi li{position:relative;padding-bottom:0.5rem;font-size:0.7rem}
.xinxi li input{width:100%;height:2.25rem;border:0;border-radius:6px;color:#333;text-indent:0.75rem;font-size:0.7rem}
.xinxi .tishi{margin:-0.5rem 0 0.5rem;padding:0;width:100%;height:1.6rem;background:url(../img/tishired.png) 0.75rem center no-repeat #fff2f2;background-size:0.6rem 0.6rem;color:red;text-align:left;text-indent:1.65rem;font-size:0.6rem;line-height:1.6rem}
.xinxi .yzm,.yzmzm{padding-right:6.25rem}
.xinxi .yzm a,.yzmzm span{position:absolute;top:0;right:0;width:5.75rem;height:2.25rem}
.yzmzm span{background:#ebebeb;color:#030580;letter-spacing:0.2rem}
.xinxi .yzm a,.yzmzm span{text-align:center;font-size:0.75rem;line-height:2.25rem}
.xinxi .yzm a{display:block;border-radius:6px;background-color:#009cff;color:#fff}
.xinxi .yzm .cxfs{background-color:#ccc}
.selectadd{overflow:hidden}
.selectadd p{float:left;width:50%;}
.selectadd p span{display:block;padding-right:0.5rem}
.selectadd select{overflow:hidden;margin-right:0.5rem;width:100%;height:2.25rem;border:0;border-radius:6px;background:url(../img/selectadd.png) right center no-repeat #fff;background-size:1.25rem 0.3rem;color:#444;text-indent:0.55rem;font-size:0.7rem}
.xinxi .xiangxidizhi{padding:0.5rem 0.75rem;border-radius:6px;background-color:#fff}
.xinxi .xiangxidizhi .xiangxidizhi1{position:relative;padding-right:3.25rem;line-height:1.25rem}
.xinxi .xiangxidizhi a{position:absolute;top:50%;right:0.75rem;margin-top:-0.4rem;width:3rem;height:0.8rem;background:url(../img/add1.png) right center no-repeat;background-size:3rem .8rem}
.chaxun{display:block;margin-top:1rem;width:100%;height:2.15rem;border-radius:6px;background-color:#292b5b;color:#fff;text-align:center;font-size:0.8rem;line-height:2.15rem;-o-border-radius:6px;-ms-border-radius:6px}
.xiadan .xiadancur{background:url(../img/xiala1.png) right center no-repeat;background-size:.8rem .5rem}