@charset "utf-8";blockquote,body,button,code,dd,div,dl,dt,form,h1,h2,h3,h4,h5,h6,hr,input,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0;font-family:微软雅黑,Helvetica,sans-serif;text-size-adjust:none;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-o-text-size-adjust:none;-ms-text-size-adjust:none;-webkit-tap-highlight-color:transparent}
img{display:inline-block;border:0}
li{list-style:none}
a{text-decoration:none}
::-webkit-input-placeholder{color:#999}
input[type=password],input[type=text],select,textarea{outline:0;border-radius:0;resize:none;-webkit-appearance:none;appearance:none;-webkit-tap-highlight-color:transparent}
body{background-color:#f5f5f5;color:#888;font-size:14px}
.mt20{margin-top:20px}
body .topfixed{position:fixed;top:0;z-index:9;width:100%}
.wrapper{width:100%}
.wrapper .indextop{height:88px;background:url(../img/logo.png) center no-repeat #fff;background-size:216px 52px}
.indextop .denglu{float:right;width:88px;height:88px;background:url(../img/zhanghao.png) center center no-repeat;background-size:40px 40px;text-indent:-9999px}
.swiper-slide img{display:block;margin:0;padding:0;width:100%}
.banner{overflow:hidden;width:100%}
.baoxiuchaxun{padding:26px 30px 26px 20px;background:#fff}
.baoxiuchaxun a{display:block;width:100%;height:40px;background:url(../img/xiangyou.png) right 5px no-repeat;background-size:30px 30px;color:#292b5b;font-size:30px;line-height:40px}
.wxbx ul{overflow:hidden;background-color:#fff}
.wxbx ul li{float:left;padding-bottom:1px;width:50%;background:url(../img/hengxian.png) left bottom no-repeat #fff;background-size:100% 1px;text-align:center}
.wxbx ul li a{display:block;padding:30px 0 0;background:url(../img/shuxian.png) right top no-repeat #fff;background-size:1px 100%}
.wxbx ul li strong{display:block;overflow:hidden;height:50px;color:#444;font-weight:400;font-size:30px;line-height:50px}
.wxbx ul li span{display:block;overflow:hidden;margin-bottom:24px;height:36px;color:#999;text-overflow:ellipsis;white-space:nowrap;font-size:24px;line-height:36px}
.wxbx ul li img{height:140px}
.wxbx{position:relative;overflow:hidden}
.kfzx{position:absolute;top:10px;right:10px;width:68px;height:148px;border-radius:30px;background-color:#1c90ea;text-align:center}
.kfzx img{margin-top:20px;width:40px;height:41px}
.kfzx span{display:block;margin:0 auto;width:30px;color:#fff;font-size:24px;line-height:36px}
.xiadan{position:relative;overflow:hidden;padding:0 30px 0 140px;background-color:#292b5b}
.xiadan img{position:absolute;top:32px;left:20px;width:84px;height:84px}
.xiadan p{padding:32px 0;background:url(../img/xiala.png) right center no-repeat;background-size:35px 20px;line-height:42px}
.xiadan p strong{color:#ff5000;font-weight:400;font-size:30px}
.xiadan p span,.xiadan p strong{display:block;overflow:hidden;height:42px}
.xiadan p span{color:#fff;font-size:24px}
.shili{background-color:#fff;text-align:center}
.shili h2{padding-top:10px;height:88px;color:#292b5b;font-weight:400;font-size:26px;line-height:88px}
.kefurexian img{width:100%}
.footer{padding:50px 0 60px;text-align:center}
footer li{float:left;width:33.3%;height:70px;font-size:26px;line-height:70px}
.footer li a{color:#999}
.footer li span{float:right;display:inline-block;margin-top:26px;width:2px;height:18px;background:url(../img/shuxian.png) no-repeat;background-size:2px 100%}
.footer p{clear:both;height:52px;color:#ccc;font-size:22px;line-height:52px}
.shili .swiper-slide p{position:relative;float:left;overflow:hidden;width:33.3333%;height:184px;text-align:center}
.shili .swiper-slide p img{display:inline-block;width:60px;height:70px}
.shili .swiper-slide p span{clear:both;display:block;height:60px;font-size:26px;line-height:60px}
.shili .swiper-slide p strong{position:absolute;top:0;right:0;width:1px;height:7px;background:url(../img/shuxian.png) no-repeat;background-size:7px 2px}
.xinxi{position:relative;padding:18px 10px 10px}
.xinxi .arrowtop{position:absolute;top:-18px;left:40px;width:44px;height:18px;background:url(../img/arrowtop.png) no-repeat;background-size:44px 18px}
.xinxi li{position:relative;padding-bottom:20px;font-size:28px}
.xinxi li input{width:100%;height:90px;border:0;border-radius:6px;color:#333;text-indent:30px;font-size:28px}
.xinxi .tishi{margin:-20px 0 20px;padding:0;width:100%;height:64px;background:url(../img/tishired.png) 30px center no-repeat #fff2f2;background-size:24px 24px;color:red;text-align:left;text-indent:66px;font-size:24px;line-height:64px}
.xinxi .yzm,.yzmzm{padding-right:250px}
.xinxi .yzm a,.yzmzm span{position:absolute;top:0;right:0;width:230px;height:90px}
.yzmzm span{background:#ebebeb;color:#030580;letter-spacing:8px}
.xinxi .yzm a,.yzmzm span{text-align:center;font-size:30px;line-height:90px}
.xinxi .yzm a{display:block;border-radius:6px;background-color:#009cff;color:#fff}
.xinxi .yzm .cxfs{background-color:#ccc}
.selectadd{overflow:hidden}
.selectadd p{float:left;width:50%}
.selectadd p span{display:block;padding-right:20px}
.selectadd select{overflow:hidden;margin-right:20px;width:100%;height:90px;border:0;border-radius:6px;background:url(../img/selectadd.png) right center no-repeat #fff;background-size:50px 12px;color:#444;text-indent:22px;font-size:28px}
.xinxi .xiangxidizhi{padding:20px 30px;border-radius:6px;background-color:#fff}
.xinxi .xiangxidizhi .xiangxidizhi1{position:relative;padding-right:130px;line-height:50px}
.xinxi .xiangxidizhi a{position:absolute;top:50%;right:30px;margin-top:-16px;width:120px;height:32px;background:url(../img/add1.png) right center no-repeat;background-size:120px 32px}
.chaxun{display:block;margin-top:40px;width:100%;height:86px;border-radius:6px;background-color:#292b5b;color:#fff;text-align:center;font-size:32px;line-height:86px;-o-border-radius:6px;-ms-border-radius:6px}
.xiadan .xiadancur{background:url(../img/xiala1.png) right center no-repeat;background-size:32px 20px}