<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>设备信息</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
		<meta content="telephone=no" name="format-detection">
		<link rel="stylesheet" href="css/style.rem.css" />
		<script>
			window.addEventListener(('orientationchange' in window ? 'orientationchange' : 'resize'), (function() {
				function c() {
					var d = document.documentElement;
					var cw = d.clientWidth || 640;
					d.style.fontSize = (20 * (cw / 320)) > 40 ? 40 + 'px' : (20 * (cw / 320)) + 'px';
				}
				c();
				return c;
			})(), false);
		</script>
	</head>

	<body>
		<div class="wrapper" id="app" v-cloak>
			<div class="xzjx2">
				<div class="sjxx">
					<dl class="xuanze1">
						<dt><span>品牌/型号</span><a href="javascript:;">{{productInfo.Brand}}{{productInfo.Name}}</a></dt>
					</dl>
					<dl class="mt20" id="gujia3" style="display: block;">
						<dt><span>选择故障</span><strong id="show_choose_fault">屏幕                            
						</strong></dt>
						<dd>
							<ul>
								<li v-for="item in troubleList">
									<a class="sjxx-text choose_fault" id="choose_fault_id_{{item.Key}}" fid="{{item.Key}}" style="display: block;">
										{{item.Value}}
									</a>
								</li>
							</ul>
						</dd>
					</dl>
					<dl class="mt20" id="gujia1">
						<dt>
				<span>颜色</span>
				<strong id="show_choose_color">全色系                            
				</strong>
				</dt>
						<dd>
							<ul>
								<li v-for="item in colors">
									<a class="sjxx-text wait_choose_color" cid="{{item.cid}}" mid="{{productInfo.Id}}" fid="{{item.fid}}" style="display: none;">
										{{item.text}}
									</a>
								</li>
							</ul>
						</dd>
					</dl>
					<dl class="mt20" id="gujia4">
						<input type="hidden" id="fid" value="">
						<input type="hidden" id="fdid" value="">
						<dt><span>维修方案</span><a href="javascript:;" class="tip">维修说明</a></dt>
						<dd>
							<ul class="one">
								<li v-for="item in repairs">
									<a class="repair_plan_select sjxx-text3 fault_detail fault_detail_{{item.fid}} sjxx-textcur" cid="{{productInfo.ColorId}}" id="fdid_{{item.id}}" mid="{{productInfo.id}}" fid="{{item.fid}}" rp_id="{{item.cid}}" style="display: block;">
										{{item.name}}
										<span class="show_price">¥{{item.price}}</span>
										<span class="not_show_price" style="display: none;">¥0</span>
									</a>
								</li>
							</ul>
						</dd>
					</dl>
					<!--  -->
				</div>
				<!--  sjxx end  -->
			</div>
			<div class="xiayibu">
				<a class="gragbg" id="xiayibu_btn">下一步</a>
			</div>
			<div class="detailtip" style="display: none;">
				<div class="detailtip1">
					<dl v-for="item in repairDescs" class="fault_desc fault_desc_{{item.id}}" style="display: none;">
						<div v-for="desc in item.list">
							<dt>{{desc.name}}</dt>
							<dd>
								<p>维修方案：{{desc.methods}} </p>
								<p>维修时长：{{desc.time}}分</p>
								<p>维修说明：{{desc.remark}}</p>
							</dd>
						</div>
					</dl>
					<!--<dl class="fault_desc fault_desc_37" style="display: none;"><dt>边框受伤（更换）</dt>
						<dd>
							<p>维修方案：更换品牌外壳</p>
							<p>维修时长：40分</p>
							<p>维修说明：来自零配件交易市场，经过Hi维修技术团队认证过的优质零配件，原装品质 </p>
						</dd><dt class="bortop">后壳受伤（更换）</dt>
						<dd>
							<p>维修方案：更换品牌外壳</p>
							<p>维修时长：40分</p>
							<p>维修说明：来自零配件交易市场，经过Hi维修技术团队认证过的优质零配件，原装品质 </p>
						</dd>
					</dl>
					<dl class="fault_desc fault_desc_57" style="display: block;"><dt>HOME键（主屏幕键）</dt>
						<dd>
							<p>维修方案：更换home键</p>
							<p>维修时长：40分</p>
							<p>维修说明：来自零配件交易市场，经过Hi维修技术团队认证过的优质零配件，原装品质</p>
						</dd>
					</dl>
					<dl class="fault_desc fault_desc_63" style="display: none;"><dt>扬声器外放</dt>
						<dd>
							<p>维修方案：更换扬声器</p>
							<p>维修时长：40分</p>
							<p>维修说明：来自零配件交易市场，经过Hi维修技术团队认证过的优质零配件，原装品质</p>
						</dd><dt class="bortop">麦克风/话筒</dt>
						<dd>
							<p>维修方案：更换尾插接口及排线</p>
							<p>维修时长：40分</p>
							<p>维修说明：来自零配件交易市场，经过Hi维修技术团队认证过的优质零配件，原装品质</p>
						</dd><dt class="bortop">听筒</dt>
						<dd>
							<p>维修方案：更换听筒</p>
							<p>维修时长：40分</p>
							<p>维修说明：来自零配件交易市场，经过Hi维修技术团队认证过的优质零配件，原装品质</p>
						</dd>
					</dl>
					<dl class="fault_desc fault_desc_68" style="display: none;"><dt>前置摄像头</dt>
						<dd>
							<p>维修方案：更换前置摄像头</p>
							<p>维修时长：40分</p>
							<p>维修说明：来自零配件交易市场，经过Hi维修技术团队认证过的优质零配件，原装品质</p>
						</dd><dt class="bortop">后置摄像头</dt>
						<dd>
							<p>维修方案：更换后置摄像头</p>
							<p>维修时长：40分</p>
							<p>维修说明：来自零配件交易市场，经过Hi维修技术团队认证过的优质零配件，原装品质</p>
						</dd>
					</dl>
					<dl class="fault_desc fault_desc_84" style="display: none;"><dt>无法充电</dt>
						<dd>
							<p>维修方案：更换尾插接口及排线</p>
							<p>维修时长：40分</p>
							<p>维修说明：来自零配件交易市场，经过Hi维修技术团队认证过的优质零配件，原装品质</p>
						</dd>
					</dl>
					<dl class="fault_desc fault_desc_154" style="display: none;"><dt>感应故障（亮度与通话不黑屏）</dt>
						<dd>
							<p>维修方案：更换感应器</p>
							<p>维修时长：40分</p>
							<p>维修说明：来自零配件交易市场，经过Hi维修技术团队认证过的优质零配件，原装品质</p>
						</dd><dt class="bortop">震动故障</dt>
						<dd>
							<p>维修方案：更换振动器</p>
							<p>维修时长：40分</p>
							<p>维修说明：来自零配件交易市场，经过Hi维修技术团队认证过的优质零配件，原装品质</p>
						</dd><dt class="bortop">调试</dt>
						<dd>
							<p>维修方案：调试</p>
							<p>维修时长：30分</p>
							<p>维修说明：免费上门，一对一当面服务，绝不碰顾客信息，注重个人隐私安全，为顾客提供价格便宜、安全可靠的维修服务! </p>
						</dd>
					</dl>
					<dl class="fault_desc" id="fault_desc_id_156" style="display: none;"><dt>感应故障（亮度与通话不黑屏）</dt>
						<dd>
							<p>维修方案：更换感应器</p>
							<p>维修时长：40分</p>
							<p>维修说明：来自零配件交易市场，经过Hi维修技术团队认证过的优质零配件，原装品质</p>
						</dd>
					</dl>-->
				</div>
				<div class="detailtipclose"></div>
			</div>
		</div>
	</body>
	<script src="js/jquery-1.7.2.min.js"></script>
	<script src="js/base.js"></script>
	<script src="js/vue.min.js"></script>
	<script>
		var vm = new Vue({
			el: '#app',
			data: {
				troubleList: [],
				id: geturlparam('mid'),
				productInfo: {},
				colors: [],
				repairs: [],
				repairDescs: []
			},
			methods: {
				loadData: function() {
					var self = this;
					getData('product/get?id=' + self.id, function(data) {
						self.productInfo = data.product;
						self.troubleList = data.troubles;
						self.repairs = data.repairs;
						self.repairDescs = data.repairDescs;
						for(i in data.troubles) {
							self.colors.push({
								fid: data.troubles[i].Key,
								text: self.productInfo.Color,
								cid: self.productInfo.ColorId
							});
						}
					});
				}
			},
			ready: function() {
				this.loadData();
			},
			components: {

			}
		});
	</script>
	<script>
		$(function() {
			$(".sjxx dl:first,.sjxx dl:eq(1)").show();
			$(".xuanze1").click(function() {
				window.location.href = 'choice-phone.html';
			});
			/*  选中状态  */
			$(".sjxx dl dd li .sjxx-text").click(function() {
				$(this).addClass("sjxx-textcur");
				$(this).parent("li").siblings("li").find(".sjxx-text").removeClass("sjxx-textcur");
				$(this).parents("dd").hide();
				$(this).parents("dl").next("dl").show();
			});
			$(".sjxx dl dd li .sjxx-text3").click(function() {
				$(this).addClass("sjxx-textcur");
				$(this).parent("li").siblings("li").find(".sjxx-text3").removeClass("sjxx-textcur");
				$(this).parents("dl").next("dl").show();
			});
			$(".sjxx dl .one li .sjxx-text3").click(function() {
				$(".xiayibu a").removeClass("gragbg");
			});
			$(".baoxianlist .sjxx-text2").click(function() {
				if($(this).hasClass("sjxx-textcur")) {
					$(this).removeClass("sjxx-textcur");
				} else {
					$(this).addClass("sjxx-textcur");
					$(this).parent("li").siblings("li").find(".sjxx-text2").removeClass("sjxx-textcur");
				}
			});
			/*  开关按钮  */
			$(".sjxx dt .kaiguan").toggle(function() {
				$(this).addClass("kaiguanbtn");
				$(this).parent("dt").siblings("dd").show();

			}, function() {
				$(this).removeClass("kaiguanbtn");
				$(this).parent("dt").siblings("dd").hide();
			}).hide().trigger('click');

			$(".baoxian:first").show();
			$(".xianzhong li").click(function() {
				$(this).find(".sjxx-text1").addClass("sjxx-text1cur");
				$(this).siblings("li").find(".sjxx-text1").removeClass("sjxx-text1cur");
				$(".baoxian").eq($(this).index()).show().siblings(".baoxian").hide();
				$(this).find("span").show();
				$(this).siblings("li").find("span").hide();
			});
			/*  选中隐藏  */
			$(".sjxx dt strong").toggle(function() {
				$(this).addClass('cur');
				$(this).parents("dt").siblings("dd").show();
			}, function() {
				$(this).removeClass('cur');
				$(this).parents("dt").siblings("dd").hide();
			});
			//选择故障大类
			//需要根据大类显示小类 注意特殊的感应故障
			$(".choose_fault").click(function() {
				var fid = $(this).attr('fid');
				var subfid = $(this).attr('subfid');
				$('.fault_detail').hide();
				$('.fault_desc').hide();
				if(typeof($(this).attr("subfid")) == "undefined") {
					$('.fault_detail_' + fid).show();
					$('.fault_desc_' + fid).show();
				} else {
					//感应故障 特殊处理
					$('#fdid_' + subfid).show();
					$('#fault_desc_id_' + subfid).show();
				}
				$('#show_choose_fault').removeClass('cur');
				$('#show_choose_fault').html($(this).html());

				//只显示相关的颜色
				$(".wait_choose_color").removeClass('sjxx-textcur').hide();
				$(".wait_choose_color[fid=" + fid + "]").show();
				$('#show_choose_color').text('');
				$('#gujia1 dd').show();
				//				$('#gujia4').hide();

				//如果只有一个颜色选择的可见，那么直接选中他
				if($('.wait_choose_color:visible').length == 1) {
					$('.wait_choose_color:visible').trigger('click');
				}
			});
			$(".choose_warranty").click(function() {
				$('#show_choose_warranty').html($(this).html());
			});
			$(".xiayibu").click(function() {
				if($('#xiayibu_btn').hasClass('gragbg')) {
					return;
				}
				var color_id = $('.fault_detail.sjxx-textcur').attr('cid');
				location.href = "device-method.html";
			});
			$(".wait_choose_color").click(function() {
				$('.insurance_choose').parent().hide();
				var tmpmid = $(this).attr('mid');
				$('.insurance_choose_mid_' + tmpmid).parent().show();
				$('#show_choose_color').html($(this).html());
				$('.insurance_choose').removeClass('sjxx-textcur');

				//只显示相关的颜色
				$(".fault_detail").hide();
				$(".fault_detail").removeClass('sjxx-textcur');
				$(".fault_detail[cid=" + $(this).attr('cid') + "][fid=" + $(this).attr('fid') + "]").show();
			});
			/*  弹窗  */
			$(".sjxx dt .tip").click(function() {
				$(".detailtip").fadeIn();
				$(".wrapper").addClass("fixedt");
			});
			$(".detailtip .detailtipclose").click(function() {
				$(".detailtip").fadeOut();
				$(".wrapper").removeClass("fixedt");
			});
		});
	</script>

</html>