<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>我的订单</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
		<meta content="telephone=no" name="format-detection">
		<link rel="stylesheet" href="css/style.rem.css" />
		<script type="text/javascript">
			window.addEventListener(('orientationchange' in window ? 'orientationchange' : 'resize'), (function() {
				function c() {
					var d = document.documentElement;
					var cw = d.clientWidth || 640;
					d.style.fontSize = (20 * (cw / 320)) > 40 ? 40 + 'px' : (20 * (cw / 320)) + 'px';
				}
				c();
				return c;
			})(), false);
		</script>
	</head>

	<body>
		<div class="wrapper" id="app" v-cloak>
			<div class="dingdanjindu">
				<div class="dingdanjinduT">
					<strong>订单状态:{{item.statusName}}</strong>
					<span>请耐心等待,客服将会马上与你联系</span>
				</div>
				<ul class="dingdanjinduM">
					<p class="dingdanjinduCur">
						<strong style="padding:0 5px 0 8px; margin-left:0;">
                        <img v-if="{{item.statusName=='5'}}" src="img/paidanzhong.png">
                        <img v-else src="img/paidanzhonged.png">
                    </strong>
						<span>待派单</span>
					</p>
					<p style="left:28%;">
						<strong>
                        <img src="img/daiweixiu.png">
                    </strong>
						<span>待维修</span>
					</p>
					<p style="left:55%;">
						<strong style="margin-right:0;">
                        <img src="img/yiwancheng701.png">
                    </strong>
						<span>已完成</span>
					</p>
					<p style="right:0;">
						<strong style="padding:0 8px 0 5px; margin-right:0;">
                        <img src="img/daipingjia.png">
                    </strong>
						<span>已评价</span>
					</p>
				</ul>
			</div>
			<div class="yichuangjian mt20" v-cloak>
				<dl>
					<dt>
            <p>用户信息</p></dt>
					<dd>
						<p><span>维修人：</span>{{item.Contacts}}</p>
						<p><span>手机号：</span>{{item.Phone}}</p>
						<p><span>维修地址：</span>{{item.Street}}</p>
					</dd>
				</dl>
			</div>
			<div class="yichuangjian mt20">
				<dl>
					<dt>
            <p>订单详情</p></dt>
					<dd>
						<p><span>型号：</span>{{item.Sku_name}}</p>
						<p><span>订单号：</span>{{item.OrderCode}}</p>
						<p><span>故障详情：</span>{{item.Trouble}}</p>
						<p><span>维修方案：</span>{{item.Repair}}</p>
						<p><span>下单时间：</span>{{item.CreatorTime}}</p>
						<p><span>备注：</span>{{item.Remark}}</p>
						<p><span></span></p>
					</dd>
				</dl>
			</div>
			<div class="yichuangjian mt20">
				<dl>
					<dt>
            <p>维修价格<span>¥{{item.Total_cost}}</span></p></dt>
					<dd>
						<p><span>上门费：</span>¥{{item.Home_cost}}</p>
						<p><span>服务费：</span>¥{{item.Service_cost}}</p>
						<p><span>支付状态：</span>未支付</p>
					</dd>
				</dl>
			</div>
			<div class="yichuangjian" style="padding-bottom: 3.25rem;">
				<dl>
					<dt v-if="{{!item.Cost_status&&item.Status=='5'}}" style="    background: linear-gradient(0, #e6e6e6, #e6e6e6 50%, transparent 50%) top left / 100% 2px no-repeat;">
            			<p>
            				<span style="float:left;padding-left: 9%;color: #333333;">总额：<strong style="color: #292b5b;" id="txtTotal_cost">¥{{item.Total_cost}}</strong></span>
            				<a href="#">立即支付</a>
            			</p>
					</dt>
				</dl>
			</div>
			<div class="xiayibu" v-if="{{item.Status=='5'}}">
				<a href="cancel.html?oid={{item.Id}}">取消订单</a>
			</div>
		</div>
	</body>
	<script src="js/jquery-1.7.2.min.js"></script>
	<script src="js/base.js"></script>
	<script src="js/vue.min.js"></script>
	<script>
		var vm = new Vue({
			el: '#app',
			data: {
				item: {},
				id: geturlparam('oid')
			},
			methods: {
				loadData: function() {
					var self = this;
					getData('order/GetByCode?orderCode=' + this.id, function(data) {
						console.log(data);
						self.item = data;
						self.item.statusName = getstatus(self.item.Status);
					});
				}
			},
			ready: function() {
				this.loadData();
			},
			components: {

			}
		});
	</script>

</html>